body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;

}

#wrapper {
    max-width: 960px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 32px;

}

header {
    background-color: #ffb6c1;
    height: 100px;
    padding: 4px;
 

}

headtitle {
    text-shadow: maroon;


}

header h1 {
    text-align: center;
    color: #BA55D3;
    line-height: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.main_menu {
    padding: 5px 0 5px 0;
    text-align: center;
    line-height: 32px;
    background-color: #FFE4E1;
}

ul.main_menu {
        margin-top: 15px;
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: purple;
        text-shadow: maroon;
}

.main_menu li {
    display: inline;
    padding: 0 10px 0 10px;
    font-size: 16px;
    color: purple;
    text-shadow: maroon;
}

.main_menu a {
    text-decoration: none;
 
    padding: 8px;
    color: purple;
    text-shadow: maroon;

}

footer {
    position: fixed;
    border-top: 8px solid #BA55D3;
    background:#ffb6c1;
    padding:10px;
    border-radius:5px;
    text-align:center;
    color:#000000;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    line-height:30px;
        }



.form-contact {
    
    width: 600px;
    border: 2px;
    border-color: #000000;
    border-bottom: 1px solid gray;
    color: #000000;
    font-size: 18px;
    margin-bottom: 16px;


}

.left {
    float: left;
    padding: 0 20px 70px 0;
   }
